<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container" style="display: flex; align-items: center; justify-content: center; height: 90vh;">
        <form action="" id="form" style="display: flex; align-items: center; justify-content: center; height: 40vh; width: 40vw; flex-direction: column; gap: 18px; border: black solid 2px ;">
            <div>
                <h1>Fill Form</h1>
            </div>
            <div>
                <label for="name">Name : </label>
                <input type="text" name="userName" id="name" placeholder="Enter Full Name">
            </div>
            <div>
                <label for="">Email : </label>
                <input type="text" name="email" id="email" placeholder="Enter Email">
            </div>
            <div>
                <label for="">Phone.No : </label>
                <input type="text" name="phone_No" id="phone_No" placeholder="Enter Mobile.No">
            </div>
            <button>Submit</button>
        </form>
    </div>
    <script src="./main.js"></script>
</body>
</html>